doctype html
head
  meta(charset='UTF-8')
  title UI Layouts
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // ========== FAVICON ==========
  link(href=require('../../assets/img/css.svg') rel='icon')
  // ========== SCSS ==========
  link(href=require('../../assets/scss/styles.scss') rel='stylesheet')
header
  span.headerContent
    a.logo(href='/')
      img(src=require('../../assets/img/css.svg') class='logoImg' alt='Logo')
      h1(class='logoTitle')
        |Many
        br
        |UI Layouts
    nav.nav
      img(src=require('../../assets/img/Menu.svg') id="menu-toggle" class='menuImg' alt='Menu Button')
      ul(class='navLinks' id="nav-menu")
        li.navLink
          a.active(href='' target='_blank')
            |Home
        li.navLink
          a(href='' target='_blank')
            |ManyInOne
        li.navLink
          a(href='' target='_blank')
            |News &amp; Articles
        li.navLink
          a(href='' target='_blank')
            |Photo Mosaic
script(src=require('../main.js') type='module')